.header {
  width: 100%;
  display: flex;
  padding: 0 7.5rem;
  position: fixed;
  z-index: 999;
  height: 6.5rem;
  align-items: center;
  gap: 5.1rem;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.8);
}

.header ul {
  display: flex;
  gap: 3.6rem;
  margin-left: auto;
}

.header ul li {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Pretendard;
  font-weight: 400;
}

.logo {
  padding-bottom: 10px;
}

.logo a {
  display: flex;
  height: 40px;
  gap: 20px;
  align-items: flex-end;
}

.line {
  height: 20px;
  margin-bottom: 4px;
  width: 1px;
  background-color: black;
}

.transition {
  padding-bottom: 5px;
}
