.header {
  width: 100%;
  display: flex;
  padding: 0 7.5rem;
  position: fixed;
  z-index: 999;
  height: 8rem;
  align-items: center;
  gap: 5.1rem;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.4);
}

.header ul {
  display: flex;
  gap: 3.6rem;
}

.header ul li {
  font-size: 1.6rem;
  font-weight: 500;
}
