.containerList {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  gap: 4.6rem;
}

.container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.container .title img {
  mix-blend-mode: luminosity;
}
.container .title h1 {
  font-family: 'Sandoll Seoul';
  color: white;
  color: #fff;
  font-size: 6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.12rem;
  position: relative;
  height: 90px;
}
