.main {
  width: 100vw;
  height: 88vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main header {
  margin-top: 6.5rem;
  padding: 0 7.5rem;
  display: flex;
  flex-direction: column;
  @media (max-width: 430px) {
    padding: 0 2rem 0 2rem;
    gap: 0rem;
  }
  @media (max-width: 1024px) {
    padding: 0 2rem 0 2rem;
    gap: 0rem;
  }
}

.headerTitle {
  width: fit-content;
  font-family: 'Sandoll Seoul';
  font-size: 7rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -2px;
  background: linear-gradient(
    90deg,
    #dd4ffc 0%,
    #1160f7 31%,
    #7340fb 64.5%,
    #35cffa 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 430px) {
    font-size: 6rem;
  }
}

.headerSummary {
  color: #000;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.4px;
  transform: translateY(-100%);
  @media (max-width: 430px) {
    font-size: 1.2rem;
    max-width: 100%;
    word-break: keep-all;
    font-weight: 600;
    transform: translateY(-2rem);
  }
}

.headerDesc {
  font-family: Pretendard;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem;
  }
}

.headerDesc div {
  color: #000;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 28.5px */
  letter-spacing: -0.38px;
  padding: 1rem 2rem 1rem 0;
  @media (max-width: 1024px) {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
}

.headerDesc div span {
  font-weight: 600;
}

.main nav {
  position: relative;
  width: 100%;
  height: 15rem;
  min-height: 12rem;
  color: #a5a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 1024px) {
    height: 18rem;
    min-height: 18rem;
  }
}

.main nav ul {
  width: 90%;
  height: 4rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  font-size: 1.8rem;
  @media (min-width: 2000px) {
    height: 6rem;
  }
  @media (max-width: 1024px) {
    height: 12rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

.main nav ul li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
  position: relative;
  @media (min-width: 2000px) {
    font-size: 1.8rem;
  }
  @media (max-width: 1024px) {
    font-size: 1.2rem;
  }
}

.long {
  font-size: 1.1rem;
}

.main nav ul li:hover > span {
  background: linear-gradient(
    90deg,
    #35cffa 0%,
    #278ffb 20%,
    #3c79fb 40%,
    #dd4ffc 60%,
    #9734fb 80%,
    #7340fb 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.4s ease-in, font-weight 0.1s ease-in;
}

.main nav ul li div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10000;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in;
}

.main nav ul li div::after {
  position: absolute;
  border-top: 1.5px solid transparent;
  border-left: 1.5px solid transparent;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(90deg, #dd4ffc 0%, #1160f7 31%, #7340fb 64.5%, #35cffa 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  content: '';
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  z-index: -10000;
  @media (max-width: 430px) {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
  }
}

.main nav ul li div::before {
  position: absolute;
  border-bottom: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(90deg, #dd4ffc 0%, #1160f7 31%, #7340fb 64.5%, #35cffa 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  content: '';
  height: 50%;
  width: 50%;
  bottom: 0;
  right: 0;
  z-index: -10000;
  @media (max-width: 430px) {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
  }
}

.main section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-top: 0.5px solid black;
  @media (max-width: 1024px) {
    border-top: 0.5px solid rgb(255, 255, 255);
  }
}

.figure {
  width: 20vw;
  height: 23.4vw;
  display: flex;
  position: relative;
  @media (max-width: 1024px) {
    width: 25vw;
    height: 41.4vw;
  }

  @media (max-width: 700px) {
    width: 33.33vw;
    height: 55.14vw;
  }
  @media (max-width: 470px) {
    width: 50vw;
    height: 82.8vw;
  }
}

.image {
  position: absolute;
  border-bottom: 0.5px solid black;
  /* border-left: 0.25px solid black; */
  border-right: 0.5px solid black;
  @media (max-width: 1024px) {
    border: white;
    border-right: 0.5px solid white;
    border-bottom: 0.5px solid rgb(255, 255, 255);
  }
}

.figure figcaption {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  opacity: 0;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 2.4rem 2rem 5rem 2rem;
  z-index: 3;
  width: 100%;
  height: 100%;
  letter-spacing: -0.8px;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
  @media (max-width: 1024px) {
    opacity: 1;
    background-color: white;
    height: 35%;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    padding: 1rem;
  }
}
.image:hover ~ figcaption {
  opacity: 1;
}
.figure figcaption:hover {
  opacity: 1;
}

.figBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (max-width: 1024px) {
    justify-content: center;
  }
}

.figTeam {
  font-size: 1.5rem;
  font-family: 'Sandoll Seoul';
  @media (min-width: 2000px) {
    font-size: 3rem;
  }
  @media (max-width: 430px) {
    font-size: 1.6rem;
  }
}

.figTitle {
  line-height: 2rem;
  font-family: 'Sandoll Seoul';
  max-width: 30rem;
  font-size: 3.5rem;
  font-weight: 400;
  word-break: break-all;
  line-height: 3.2rem;
  @media (max-width: 1024px) {
    font-size: 3.2rem;
  }
  @media (min-width: 2000px) {
    font-size: 5rem;
  }
  @media (max-width: 768px) {
    font-size: 2.7rem;
    line-height: 2rem;
  }
}

.figDesc {
  margin-top: 2.4rem;
  font-size: 1.2rem;
  @media (max-width: 1024px) {
    display: none;
  }
}

.animateOverlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.animateBox {
  width: 10rem;
  height: 20rem;
  z-index: 150;
  background-color: white;
}

.omit {
  font-weight: 200;
  @media (max-width: 1024px) {
    display: none;
  }
}
