.main {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    padding: 5rem 1rem;
  }
}

.cyan1,
.cyan2,
.pink1,
.pink2,
.blue1 {
  position: fixed;
  filter: blur(150px);
  z-index: -1;
}

.cyan1 {
  width: 50%;
  height: 50%;
  top: 0;
  right: 0;
  background-color: #35cffa30;
}
.cyan2 {
  width: 60%;
  height: 60%;
  bottom: 0;
  background-color: #35cffa30;
}
.pink1 {
  width: 50%;
  height: 50%;
  top: 0;
  left: 0;
  background-color: #dd4ffc20;
}
.pink2 {
  width: 40%;
  height: 60%;
  bottom: 0;
  right: 10%;
  background-color: #dd4ffc20;
}
.blue1 {
  width: 30%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: #278ffb20;
}

.timetableContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 38vw;
  height: 85vh;
  padding: 2rem;
  margin-right: 1%;
  border: 0;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) {
    width: 100%;
    height: 90vh;
    margin: 0;
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-template-rows: auto repeat(6, 1fr);
  height: 85%;
  font-size: 2rem;
}

.alwaysTableContainer {
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
  margin-top: 1rem;
  height: 12%;
}
@media (max-width: 425px) {
  .gridContainer {
    grid-template-columns: 20% 1fr 1fr 1fr;
  }
  .alwaysTableContainer {
    grid-template-columns: 20% 1fr 1fr;
  }
}

.alwaysProgramCell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  text-align: center;
  font-size: 2rem;
  height: 100%;
  background-color: #ffffff;
}

.alwaysProgramTitle {
  font-size: 2rem;
  color: #333;
}

.dayHeader {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  color: #333333;
  transform: translate(0, -10%);
  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.dayHeader:nth-child(2)::before {
  content: '수';
}

.dayHeader:nth-child(3)::before {
  content: '목';
}

.dayHeader:nth-child(4)::before {
  content: '금';
}

.timeLabel {
  display: flex;
  justify-content: center;
  grid-column: 1;
  font-size: 1.6rem;
  text-align: right;
  color: #333333;
  transform: translate(0, -8%);
}

.alwaysLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  font-size: 1.6rem;
  text-align: right;
  color: #333333;
}
@media (max-width: 1300px) {
  .timeLabel,
  .alwaysLabel,
  .dayHeader {
    font-size: max(1rem, 1.2vw);
  }
}
@media (max-width: 768px) {
  .timeLabel,
  .alwaysLabel,
  .dayHeader {
    font-size: min(1.6rem, 3vw);
  }
}
@media (max-width: 425px) {
  .timeLabel,
  .alwaysLabel,
  .dayHeader {
    font-size: 1.2rem;
  }
}
.programCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #f0f0f0;
  padding: 1rem;
  @media (max-width: 768px) {
    padding: 0.5rem;
  }
}

.programCellStyled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.8rem;
  padding: 1rem;
  word-break: keep-all;
  cursor: pointer;
  transition: all 0.3s ease;
  @media (max-width: 768px) {
    padding: 0.5rem;
    font-size: max(1.4rem, 2.5vw);
  }
  @media (max-width: 425px) {
    font-size: 1.4rem;
  }
}

.highlightedBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #1160f7;
  background-color: #f1fcff;
  transition: all 0.3s ease;
}

.highlightedText {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    #35cffa,
    #278ffb,
    #3c79fb,
    #dd4ffc,
    #9734fb,
    #7340fb
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.programContainer {
  width: 38vw;
  margin-left: 1%;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
}

.programItem {
  margin-bottom: 1rem;
}

.programAccordion {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.groups {
  margin-bottom: 3.2rem;
}
.headerGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.4rem;
  @media (max-width: 768px) {
    margin-bottom: 1.8rem;
  }
}
.groupTitle {
  font-size: 4.6rem;
  font-family: 'Sandoll Seoul';
}
.programHeader {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2.8rem 3rem;
  font-family: 'Sandoll Seoul';
  font-size: 4.4rem;
  cursor: pointer;
  background-color: white;
  @media (max-width: 768px) {
    font-size: 4rem;
  }
}
.programHeader span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.programAccordion.open .programHeader span:first-child {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

.textWrapper {
  max-width: max-content;
  font-size: 1em;
}
.textWrapper.gradientText {
  background: linear-gradient(
    90deg,
    #35cffa,
    #278ffb,
    #3c79fb,
    #dd4ffc,
    #9734fb,
    #7340fb
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.arrow {
  position: absolute;
  top: 2.8rem;
  right: 3rem;
  transition: transform 0.3s ease;
}
.arrow.rotated {
  transform: rotate(-180deg);
}

.accordionContent {
  overflow: hidden;
  max-height: 0;
  padding: 0 3rem;
  font-size: 1.6rem;
  color: #444;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  transition: max-height 0.3s ease;
}
.accordionContent.activeContent {
  max-height: 50rem;
}
.innerContent {
  padding: 0 0 3rem 0;
}
.programDetails {
  padding: 1rem 0;
}
.programTime {
  font-size: 1.8rem;
  @media (max-width: 768px) {
    font-size: 1.6rem;
  }
}
.programLocation {
  position: relative;
  margin-bottom: 0.8rem;
  font-size: 2.2rem;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 2rem;
  }
}
.programLocation::before {
  position: absolute;
  content: '';
  width: 19rem;
  bottom: -0.8rem;
  border: 0.5px solid #333333;
}
.programDescription {
  padding-top: 1.6rem;
  font-size: 1.4rem;
  color: #444444;
  word-break: keep-all;
  white-space: pre-line;
}
