.main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10rem;
  gap: 2.5rem;
  background-color: rgb(207, 229, 236);
}

.timetableContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 80vh;
  padding: 2rem;
  border: 0;
  border-radius: 1rem;
  background-color: #ffe7e7;
  overflow: auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: 15% 1fr 1fr 1fr;
  grid-template-rows: auto repeat(6, 1fr);
  height: 85%;
  font-size: 2rem;
  font-family: 'Pretendard';
}

.alwaysTableContainer {
  display: grid;
  grid-template-columns: 15% 1fr 1fr;
  margin-top: 1rem;
  height: 12%;
}

.alwaysProgramCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 2rem;
  height: 100%;
}

.alwaysProgramTitle {
  font-weight: bold;
  color: #333;
  font-size: 2rem;
}

.dayHeader {
  position: relative;
  text-align: center;
  font-weight: bold;
  font-size: 1.8rem;
  color: #555;
}

.dayHeader:nth-child(2)::before {
  content: '수';
}

.dayHeader:nth-child(3)::before {
  content: '목';
}

.dayHeader:nth-child(4)::before {
  content: '금';
}

.timeLabel {
  display: flex;
  justify-content: center;
  grid-column: 1;
  font-size: 1.4rem;
  text-align: right;
  padding-right: 1.8rem;
  color: #555;
  font-weight: bold;
}

.alwaysLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  font-size: 1.4rem;
  text-align: right;
  padding-right: 1.8rem;
  color: #555;
  font-weight: bold;
}

.programCell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  text-align: center;
  transition: background-color 0.3s;
}
.grdientText {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7dffad;
  border: 1px solid #ddd;
  text-align: center;
  transition: background-color 0.3s;
}
.highlightedBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f1fcff; /* 호버 시 나타나는 배경색 */
}

/* 호버 시 텍스트 그라디언트 적용 */
.highlightedText {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    #35cffa,
    #278ffb,
    #3c79fb,
    #dd4ffc,
    #9734fb,
    #7340fb
  );
  -webkit-background-clip: text;
  color: transparent;
  background-clip: text;
}
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
.programContainer {
  width: 35vw;
}

.programItem {
  margin-bottom: 1rem;
}

.programHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10.4rem;
  padding: 2.8rem 3rem;
  border-radius: 1rem;
  background-color: #ffffff;
  font-size: 4.4rem;
  transition: background-color 0.3s;
  font-family: 'Sandoll Seoul';
}

.arrow {
  display: inline;
  font-size: 1.6rem;
}

.accordionContent {
  padding: 20px;
  background-color: white;
}

.programDetails {
  padding: 10px 0;
}

.programTime {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.programLocation {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.programDescription {
  font-size: 1.4rem;
  color: #444444;
}

.active {
  border-radius: 1rem 1rem 0 0;
}
