.main {
  width: 100vw;
  margin-top: 0rem;
  overflow: hidden;
  position: relative;
}

.cyan1 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #35cffa40;
  filter: blur(150px);
  right: 0;
  transform: translate(10%, 0%);
  z-index: -1;
}

.cyan2 {
  position: absolute;
  width: 40%;
  height: 12%;
  background-color: #35cffa40;
  filter: blur(150px);
  left: 0;
  top: 15%;
  transform: translate(-20%, 0%);
  z-index: -1;
}

.cyan3 {
  position: absolute;
  width: 40%;
  height: 20%;
  background-color: #35cffa40;
  filter: blur(150px);
  right: 0;
  top: 44%;
  transform: translate(25%, 0%);
  z-index: -1;
}

.cyan4 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #35cffa40;
  filter: blur(150px);
  left: 0;
  top: 55%;
  transform: translate(-30%, 0%);
  z-index: -1;
}
.cyan5 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #35cffa40;
  filter: blur(150px);
  left: 0;
  top: 78%;
  transform: translate(-30%, 0%);
  z-index: -1;
}

.pink1 {
  position: absolute;
  width: 50%;
  height: 50vh;
  background-color: #dd4ffc30;
  filter: blur(150px);
  left: 0;
  transform: translate(30%, -80%);
  z-index: -1;
}

.pink2 {
  position: absolute;
  width: 40%;
  height: 25%;
  background-color: #dd4ffc25;
  filter: blur(150px);
  right: 0;
  top: 16%;
  transform: translate(-40%, 0%);
  z-index: -1;
}

.pink3 {
  position: absolute;
  width: 50%;
  height: 15%;
  background-color: #dd4ffc25;
  filter: blur(150px);
  left: 0;
  top: 60%;
  transform: translate(-30%, 0%);
  z-index: -1;
}

.blue1 {
  position: absolute;
  width: 40%;
  height: 10%;
  background-color: #1160f720;
  filter: blur(150px);
  left: 0;
  top: 30%;
  transform: translate(-40%, 0%);
  z-index: -1;
}
.blue2 {
  position: absolute;
  width: 40%;
  height: 10%;
  background-color: #1160f730;
  filter: blur(150px);
  right: 0;
  top: 42%;
  transform: translate(-40%, 0%);
  z-index: -1;
}
.blue3 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #1160f730;
  filter: blur(150px);
  right: 0;
  top: 75%;
  transform: translate(10%, 0%);
  z-index: -1;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.4rem;
  margin-top: 40.8rem;
}
.typography {
  position: relative;
  width: 10%;
  padding-bottom: 5.4rem;
  height: 3.6rem;
}
.title {
  position: relative;
  width: 50%;
  height: 21.6rem;
}

.subtitle {
  display: flex;
  justify-content: center;
  padding-top: 30.3rem;
  margin-bottom: 6.8rem;
}

.subtitle p {
  position: relative;
  width: 60%;
  font-size: 6rem;
  background-color: pink;
}

.subtitle p::before {
  content: '';
  position: absolute;
  width: 15.5rem;
  bottom: 0;
  border-bottom: 1px solid black;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoContainer {
  width: 60%;
  background-color: blueviolet;
  aspect-ratio: 16 / 9; /*동영상 비율 유지*/
}
.videoContainer iframe {
  width: 100%;
  height: 100%;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22.9rem;
  padding: 13rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.description article {
  padding: 0 3.6rem;
  width: 60%;
  background-color: white;
  font-size: 3.6rem;
}

.description img {
  vertical-align: text-bottom;
}

.quote {
  margin-top: 24.1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 29.1rem;
  font-family: 'pretendard';
}

.quote div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 63.75%;
  gap: 2.4rem;
  background-color: lightgoldenrodyellow;
}

.quote blockquote:nth-of-type(1) .quoteTitle::before {
  content: '';
  position: absolute;
  width: 15.5rem;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid black;
}

.quote blockquote:nth-of-type(2) .quoteTitle::before {
  content: '';
  position: absolute;
  width: 15.5rem;
  bottom: 0;
  border-bottom: 1px solid black;
}

.quote blockquote:first-child {
  align-self: flex-start;
  width: 49%;
  background-color: white;
  font-size: 1.6rem;
}
.quote blockquote:last-child {
  align-self: flex-end;
  width: 49%;
  background-color: white;
  font-size: 1.6rem;
}
.quoteTitle {
  position: relative;
  margin-bottom: 1.6rem;
  background-color: antiquewhite;
  font-family: 'Sandoll Seoul';
}
.quote p:first-child {
  font-size: 3.2rem;
}
.quote blockquote:nth-of-type(1) .quoteTitle {
  text-align: right;
}

.quote blockquote:nth-of-type(2) .quoteTitle {
  text-align: left;
}

.credit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94vh;
  background-color: black;
}

.gradContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 95%;
}

/* 중앙 그라데이션 효과 
.credit::before {
  content: '';
  position: absolute;
  width: 85%;
  height: 95%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(39, 143, 251, 0.9) 0%,
    rgba(39, 143, 251, 0) 100%
  );
  border-radius: 160.3rem;
  opacity: 0.3;
  filter: blur(10rem);
  z-index: 1;
} */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 68.9rem;
  height: 45rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'Sandoll Seoul';
}

.box p:first-child {
  text-align: center;
  color: white;
  font-size: 6rem;
}
.box p:nth-child(2) {
  text-align: center;
  color: white;
  font-size: 2.8rem;
}

.creditButton {
  padding: 0.8rem 2rem;
  font-size: 2.4rem;
  font-family: 'Sandoll Seoul';
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}
