.main {
  width: 100vw;
  margin-top: 0rem;
  overflow: hidden;
  position: relative;
}

.cyan1 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #35cffa40;
  filter: blur(150px);
  right: 0;
  transform: translate(10%, 0%);
  z-index: -1;
}
.cyan2 {
  position: absolute;
  width: 40%;
  height: 12%;
  background-color: #35cffa40;
  filter: blur(150px);
  left: 0;
  top: 15%;
  transform: translate(-20%, 0%);
  z-index: -1;
}
.cyan3 {
  position: absolute;
  width: 40%;
  height: 20%;
  background-color: #35cffa40;
  filter: blur(150px);
  right: 0;
  top: 44%;
  transform: translate(25%, 0%);
  z-index: -1;
}
.cyan4 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #35cffa40;
  filter: blur(150px);
  left: 0;
  top: 55%;
  transform: translate(-30%, 0%);
  z-index: -1;
}
.cyan5 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #35cffa40;
  filter: blur(150px);
  left: 0;
  top: 78%;
  transform: translate(-30%, 0%);
  z-index: -1;
}

.pink1 {
  position: absolute;
  width: 50%;
  height: 50vh;
  background-color: #dd4ffc30;
  filter: blur(150px);
  left: 0;
  transform: translate(30%, -80%);
  z-index: -1;
}
.pink2 {
  position: absolute;
  width: 40%;
  height: 25%;
  background-color: #dd4ffc25;
  filter: blur(150px);
  right: 0;
  top: 16%;
  transform: translate(-40%, 0%);
  z-index: -1;
}
.pink3 {
  position: absolute;
  width: 50%;
  height: 15%;
  background-color: #dd4ffc25;
  filter: blur(150px);
  left: 0;
  top: 60%;
  transform: translate(-30%, 0%);
  z-index: -1;
}

.blue1 {
  position: absolute;
  width: 40%;
  height: 10%;
  background-color: #1160f720;
  filter: blur(150px);
  left: 0;
  top: 30%;
  transform: translate(-40%, 0%);
  z-index: -1;
}
.blue2 {
  position: absolute;
  width: 40%;
  height: 10%;
  background-color: #1160f730;
  filter: blur(150px);
  right: 0;
  top: 42%;
  transform: translate(-40%, 0%);
  z-index: -1;
}
.blue3 {
  position: absolute;
  width: 50%;
  height: 10%;
  background-color: #1160f730;
  filter: blur(150px);
  right: 0;
  top: 75%;
  transform: translate(10%, 0%);
  z-index: -1;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5.4rem;
  margin-top: 40.8rem;
}
.typography {
  position: relative;
  width: 17.8rem; /*반응형 고려?*/
  height: 3.6rem;
}
.title {
  position: relative;
  width: 92rem;
  height: 21.6rem;
}

.subtitle {
  display: flex;
  justify-content: center;
  padding-top: 30.3rem;
  margin-bottom: 6.8rem;
  font-family: 'Sandoll Seoul';
}

.subtitle p {
  position: relative;
  width: 60%;
  font-size: 6rem;
}

.subtitle p::before {
  content: '';
  position: absolute;
  width: 15.5rem;
  bottom: 0;
  border-bottom: 1px solid black;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoContainer {
  width: 60%;
  aspect-ratio: 16 / 9; /*동영상 비율 유지*/
}
.videoContainer iframe {
  width: 100%;
  height: 100%;
}

.quote {
  margin-top: 24.1rem;
  display: flex;
  justify-content: center;
  margin-bottom: 29.1rem;
  font-family: 'pretendard';
}

.quote div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 63.75%;
  gap: 2.4rem;
}

.quote blockquote:nth-of-type(1) .quoteTitle::before {
  content: '';
  position: absolute;
  width: 15.5rem;
  bottom: 0;
  right: 0;
  border-bottom: 1px solid black;
}

.quote blockquote:nth-of-type(2) .quoteTitle::before {
  content: '';
  position: absolute;
  width: 15.5rem;
  bottom: 0;
  border-bottom: 1px solid black;
}

.quote blockquote:first-child {
  align-self: flex-start;
  width: 49%;
  font-size: 1.6rem;
}
.quote blockquote:last-child {
  align-self: flex-end;
  width: 49%;
  font-size: 1.6rem;
}
.quoteTitle {
  position: relative;
  margin-bottom: 1.6rem;
  font-family: 'Sandoll Seoul';
}
.quote p:first-child {
  font-size: 3.2rem;
}
.quote blockquote:nth-of-type(1) .quoteTitle {
  text-align: right;
}

.quote blockquote:nth-of-type(2) .quoteTitle {
  text-align: left;
  background-color: rgb(206, 248, 248);
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 26.2rem;
  margin-bottom: 26.1rem;
}

.videoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.videoContainer {
  width: 62.5%;
  background-color: blueviolet;
  aspect-ratio: 16 / 9;
}
.videoContainer video {
  width: 100%;
  height: 100%;
}

.articles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 2.4rem;
}
.articles article {
  width: 58.8rem;
  height: 21.6rem;
  background-color: white;
  font-size: 1.6rem;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.quote blockquote:first-child {
  align-self: flex-start;
  width: 58.8rem;
  margin-top: 27.5rem;
  background-color: white;
  font-size: 1.6rem;
}
.quote blockquote:last-child {
  align-self: flex-start;
  width: 58.8rem;
  margin-top: 62.4rem;
  background-color: white;
  font-size: 1.6rem;
}
.quoteTitle {
  margin-bottom: 5.1rem;
}
.quote p:first-child {
  font-size: 3.2rem;
}

.sponsorContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  width: 100%;
  background-color: antiquewhite;
}

.scrollRow.firstRow {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scrollFirstRow 10s linear infinite;
  background-color: yellowgreen;
}
.scrollRow.secondRow {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  animation: scrollSecondRow 10s linear infinite reverse;
  background-color: lightcoral;
}

@keyframes scrollFirstRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scrollSecondRow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.sponsorBox {
  width: 33rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: palevioletred;
  overflow: hidden;
  flex-shrink: 0;
}
.sponsorBox img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  background-color: azure;
}

.credit {
  width: 100%;
  height: 102rem;
  background-color: black;
}
.credit div {
  width: 100%;
  height: 94.7rem;
  border-radius: 160.3rem;
  opacity: 0.3;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(39, 143, 251, 0.9) 0%,
    rgba(39, 143, 251, 0) 100%
  );
  filter: blur(10rem);
}
.credit p {
  justify-content: center;
  color: white;
}
