/* components/main/CustomCursor.module.css */
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2.3px solid rgba(255, 255, 255, 0.5);
  pointer-events: none;
  cursor: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease, background-color 0.2s ease, width 0.2s ease,
    height 0.2s ease;
  z-index: 9999;
  opacity: 0.9;
}

.click {
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%) scale(0.8);
}

.hover {
  background-color: rgba(255, 255, 255, 0.5);
  width: 50px;
  height: 50px;
}
