.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(252, 252, 252, 0.8);
    pointer-events: none; /* Prevent interaction with elements */
    transform: translate(-50%, -50%);
    transition: transform 0.15s ease, background-color 0.2s ease, width 0.2s ease, height 0.2s ease;
    z-index: 9999;
    mix-blend-mode: exclusion;
    opacity: 0.9;
  }
  
  .click {
    background-color: rgba(255, 255, 255, 0.7);
    transform: translate(-50%, -50%) scale(0.8); /* Shrinks when clicked */
  }
  
  .hover {
    background-color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px; /* Enlarges when hovering */
  }
  