/* Overlay.module.css */
.scrollContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    pointer-events: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .scrollContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  