.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 8rem;
  @media (max-width: 430px) {
    padding: 0 4rem;
  }
}

.main header {
  margin-top: 6.5rem;
  width: 100%;
  padding: 3rem 0 0 0;
}

.headerTitle {
  color: #000;
  font-family: 'Sandoll Seoul';
  font-size: 8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 150px */
  letter-spacing: -2px;
  @media (max-width: 431px) {
    color: #000;
    font-size: 3rem;
    letter-spacing: -0.9px;
  }
}

.headerDesc {
  font-family: Pretendard;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 136.364% */
  letter-spacing: -0.66px;
  @media (max-width: 431px) {
    font-size: 1rem;
    text-align: center;
    line-height: 1.4rem;
  }
}

.spanRainbow {
  font-family: 'Sandoll Seoul';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  background: linear-gradient(
    90deg,
    #dd4ffc 0%,
    #1160f7 31%,
    #7340fb 64.5%,
    #35cffa 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 431px) {
    font-size: 24px;
  }
}

.spanBold {
  font-weight: 600;
}

.main section {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding-top: 5rem;
  position: relative;
  overflow: hidden;
}

.main section ul {
  display: flex;
  gap: 3rem;
  font-size: 2rem;
  color: #a5a5a5;
  @media (max-width: 431px) {
    display: none;
  }
}

.main section ul span {
  color: black;
}

.main section ul li {
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.main section div {
  justify-content: center;
  width: 100%;
  height: 70vh;
  display: flex;
  overflow: hidden;
  position: relative;
  @media (max-width: 431px) {
    flex-direction: column;
  }
}

.main section div span {
  position: relative;
  flex: 0 0 100%;
  height: 90%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
  @media (max-width: 431px) {
    flex-basis: 30%;
    transform: translateX(0);
  }
}

.main section div span p {
  display: none;
  @media (max-width: 431px) {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.main section div span svg {
  width: 100%;
  height: 100%;
}

.main section div span svg circle {
  cursor: pointer;
}

.main section div span svg circle:hover {
  fill: rgb(0, 0, 0);
}

.main section div span svg circle:hover + path {
  fill: white;
}

.main section div span svg path,
.main section div span svg circle {
  transition: fill 0.3s ease-in;
}
/* .main section div span svg path {
}

.firstSpan {
}

.secondSpan {
}

.thirdSpan {
} */

.arrowLeft {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0;
  /* transform: translate(-100%, -50%); */
  @media (max-width: 431px) {
    display: none;
  }
}

.arrowRight {
  z-index: 2000;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: rotate(180deg);
  @media (max-width: 431px) {
    display: none;
  }
}

.selectedCircleInfo {
  transition: opacity 0.3s ease-in;
  opacity: 0;
  visibility: hidden; /* 기본값 */
  width: 16vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  z-index: 10000000;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  @media (max-width: 430px) {
    display: none;
  }
}

.selectedCircleInfo button {
  border: 0.5px solid white;
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.selectedCircleInfo button:hover {
}

.selectedCircleInfo.visible {
  opacity: 1;
  visibility: visible; /* 보일 때 */
}

.selectedCircleInfo.hidden {
  opacity: 0;
  visibility: hidden; /* 숨길 때 */
}

.selectedCircleInfo div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.selectedCircleInfo img {
  right: 0;
  cursor: pointer;
}

.selectedCircleInfo img:hover {
  opacity: 0.7;
}

.popupImage {
  width: 15px;
  height: fit-content;
  position: relative;
}

.popupImage img {
  right: 0;
}

.popupTeam {
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 10px; /* 100% */
}
.popupTitle {
  color: #fff;
  text-align: center;
  font-family: 'Sandoll Seoul';
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  word-break: break-all;
}

.line {
  position: absolute;
  /* border: 1px solid #000; */
  stroke-dasharray: 5 3;
  z-index: 40000000000;
}
