.section {
  width: 100%;
  overflow-y: scroll;
}

.representImage {
  width: 100%;
  height: 45rem;
  background-color: rgb(255, 255, 255);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: center;
}
