.wrapper {
  padding: 2rem 0 2rem 10rem;
  @media (max-width: 430px) {
    padding-left: 3rem;
  }
}

.smallWrapper {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  gap: 8rem;
  padding: 6rem 0;
  @media (max-width: 430px) {
    gap: 4rem;
    padding: 1rem 0;
  }
}

.smallWrapper::-webkit-scrollbar {
  height: 8px;
}

.smallWrapper::-webkit-scrollbar-thumb {
  background-color: rgb(10, 10, 10);
  border-radius: 10px; /* (선택 사항) 스크롤바 손잡이 모서리 둥글게 */
}

.smallWrapper::-webkit-scrollbar-track {
  background: none;
}

.row {
  display: flex;
  gap: 4rem;
  @media (max-width: 430px) {
    gap: 2rem;
  }
}

.row:first-child {
}

.row:nth-child(2) {
}

.commentBox {
  flex-shrink: 0;
  position: relative;
  width: 20vw;
  height: 22rem;
  border-radius: 20px;
  border: 1.5px solid transparent;
  background-image: linear-gradient(#ffffff, #ffffff),
    linear-gradient(90deg, #dd4ffc 0%, #1160f7 31%, #7340fb 64.5%, #35cffa 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  @media (max-width: 430px) {
    width: 40vw;
    height: 18rem;
  }
}

.commentInBox {
  border-radius: 20px;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 4rem 4rem;
  overflow-y: scroll;
  @media (max-width: 430px) {
    padding: 3rem 2rem;
  }
}

.commentInBox::-webkit-scrollbar {
  display: none;
}

.imageContainer {
  position: absolute;
  top: -3vw;
  left: 5%;
  width: 4.5vw;
  height: 4.5vw;
  @media (max-width: 430px) {
    width: 8vw;
    height: 8vw;
    top: -4vw;
  }
}
.imageContainer img {
}

.comment h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #000;
  font-family: 'Sandoll Seoul';
  font-size: 2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
  text-wrap: nowrap;
  @media (max-width: 430px) {
    font-size: 2.5rem;
  }
}

.comment p {
  color: #278ffb;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  @media (max-width: 430px) {
    font-size: 1.4rem;
  }
}

.comment h3 {
  width: 100%;
  color: #121212;
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.3px;
  margin-top: 2rem;
  text-wrap: wrap;
  word-break: break-all;
  @media (max-width: 430px) {
    font-size: 1.4rem;
  }
}
